.header {
  padding: var(--padding);
  background-color: var(--brand-color);
}

.header h1 {
  margin: 0 0 var(--padding);
  font-size: var(--font-size-1);
  background-color: #fff;
  display: inline-block;
  padding: var(--padding);
  box-shadow: 8px 8px 0;
}

.header a {
  color: var(--text-color);
}

.header ul {
  list-style: none;
  margin: 0;
  background-color: #fff;
  display: inline-flex;
  padding: 8px;
  flex-wrap: wrap;
}

.header li:not(:last-child) {
  margin-right: var(--padding);
}
